
@model bd.log.entidades.ViewModels.LogEntryViewModel

@{
    ViewBag.Title = "Entradas del Log";
}
<style type="text/css">
    .modal-dialog {
        
        max-height: auto;
       
        width:auto;
    }
</style>
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
			<!-- MAIN CONTENT -->
<div id="content">


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Filtros de b&uacute;squeda </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>

                        <!-- end widget edit box -->
                        <!-- widget content -->
                        @if (@ViewData["Error"].ToString() != "")
                        {
                            <div class="col-lg-9">
                                <div class="alert alert-block alert-dismissable">
                                    <a class="close" data-dismiss="alert" href="#"><p>X</p></a>
                                    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Informaci&oacute;n!</h4>
                                    <p>
                                        <span class="text-danger"><strong><bold> @ViewData["Error"]</bold></strong></span>
                                    </p>
                                </div>
                            </div>
                        }
                        <div class="widget-body no-padding">

                            <form asp-action="ConsultaFiltrada" id="smart-form-register" class="smart-form">                

                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(model => model.MachineName)</label>
                                            <label class="input">
                                                <input asp-for="MachineName" type="text" placeholder="@Html.DisplayNameFor(model => model.MachineName)">
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(model => model.UserName)</label>
                                            <label class="input">
                                                <select asp-for="UserName" asp- class="form-control" asp-items="ViewBag.AdpsLogin">
                                                    <option value="0" selected="" disabled="">@Html.DisplayNameFor(model => model.UserName)</option>
                                                </select>
                                                <span asp-validation-for="UserName" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(model => model.MachineIP)</label>
                                            <label class="input">
                                                <input asp-for="MachineIP" type="text" placeholder="@Html.DisplayNameFor(model => model.MachineIP)">
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(model => model.ApplicationName)</label>
                                            <label class="input">
                                                <input asp-for="ApplicationName" type="text" placeholder="@Html.DisplayNameFor(model => model.ApplicationName)">
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(model => model.LogLevelId)</label>
                                            <label class="input">
                                                <select asp-for="LogLevelId" asp- class="form-control" asp-items="ViewBag.ShortName">
                                                    <option value="0" selected="" disabled="">@Html.DisplayNameFor(model => model.LogLevelId)</option>
                                                </select>
                                                <span asp-validation-for="LogLevelId" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(model => model.LogCategoryId)</label>
                                            <label class="select">
                                                <select asp-for="LogCategoryId" asp- class="form-control" asp-items="ViewBag.Name">
                                                    <option value="0" selected="" disabled="">@Html.DisplayNameFor(model => model.LogCategoryId)</option>
                                                </select> 
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(model => model.LogDateStart)</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input asp-for="LogDateStart" type="text" placeholder="@Html.DisplayNameFor(model => model.LogDateStart)" class="datepicker" data-dateformat='dd/mm/yy'>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(model => model.LogDateFinish)</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input asp-for="LogDateFinish" type="text" placeholder="@Html.DisplayNameFor(model => model.LogDateFinish)" class="datepicker" data-dateformat='dd/mm/yy'>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-offset-12">
                        <input type="submit" value="Buscar" class="btn btn-primary" />

                    </div>

                    <br /><br /><br />
                   
                </div>
                                  
                             </footer>
                            </form>

                        </div>

                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->


            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
   


</div>
<!-- END MAIN CONTENT -->

<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Resultado de la b&uacute;squeda </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        @if (Model.LogEntrys.Count > 0)
                        {


                            <div class="widget-body no-padding">
                                <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Buscar" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Buscar" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Buscar" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Buscar" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Buscar" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Buscar" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Buscar" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Buscar" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Buscar" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Buscar" />
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th data-hide="phone">@Html.DisplayNameFor(model => model.MachineIP)</th>
                                            <th data-hide="phone"> @Html.DisplayNameFor(model => model.LogLevelId)</th>
                                            <th data-hide="phone">@Html.DisplayNameFor(model => model.LogCategoryId)</th>
                                            <th data-class="expand"> @Html.DisplayNameFor(model => model.LogEntrys.FirstOrDefault().LogDate)</th>
                                            <th data-hide="phone">@Html.DisplayNameFor(model => model.ApplicationName)</th>
                                            <th data-hide="phone">@Html.DisplayNameFor(model => model.LogEntrys.FirstOrDefault().ExceptionTrace)</th>
                                            <th data-hide="phone,tablet"> @Html.DisplayNameFor(model => model.MachineName)</th>
                                            <th >@Html.DisplayNameFor(model => model.Message)</th>
                                            <th data-hide="phone,tablet"> @Html.DisplayNameFor(model => model.ObjectName)</th>
                                            <th data-hide="phone,tablet"> @Html.DisplayNameFor(model => model.UserName)</th>
                                            <th data-hide="phone,tablet"> </th>
                                        </tr>


                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.LogEntrys)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MachineIP)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LogLevel.Name)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LogCategory.Name)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LogDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ApplicationName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ExceptionTrace)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MachineName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Message)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ObjectName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </td>
                                                <td>

                                                    @Html.ActionLink("Detalle", "Create", "ConsultasLogs", new { id = item.LogEntryId }, new { @class = "dialog-window btn btn-info" })

                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>

                        }
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>              
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>



<div class="modal fade" id="Create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="false">
    <div class="modal-dialog modal-sm" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title"></h2>
                
            </div>
            <div class="modal-body"><div class="te">Please wait...</div></div>
        </div>
    </div>
</div>


<!-- END MAIN CONTENT -->
         
@section Scripts {



<script src='~/lib/select2/dist/js/select2.min.js'></script>
<script src='~/lib/select2/dist/js/i18n/es.js'></script>
<script src='~/js/site.js'></script>
<script type="text/javascript">
    $(document).ready(function () {
        Init_Select2();
    });
</script>


   <script src="~/js/datatables/init.js"></script>

 

<script type="text/javascript">
        $(document).ready(function () {
            $("body").on("click", "a.dialog-window", null, function (e) {
                e.preventDefault();
                var $link = $(this);
                var title = $link.text();
                $('#Create .modal-title').html(title);
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#Create').modal('show');
                }
                else {
                    $.get(url, function (data) {
                        $('#Create .te').html(data);
                        $('#Create').modal();
                    }).success(function () { $('input:text:visible:first').focus(); });

                }
            });
        });

</script>
}